---
## General
Language: Cpp
#BasedOnStyle: Microsoft

# Lint / limit
IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 0 # disable frakin macro escaping (if long comment)

## Particular
# Align
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: Consecutive
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
PointerAlignment: Right

# Allow (*line)
AllowAllArgumentsOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true

# Sort / other
BinPackArguments:  false
BinPackParameters: false
FixNamespaceComments: true
IncludeBlocks: Regroup
SortUsingDeclarations: true
BreakBeforeBraces: Custom
BraceWrapping:
  #AfterFunction : true
  BeforeElse    : true
  BeforeCatch   : false
  BeforeWhile   : false
  BeforeLambdaBody: false
  AfterCaseLabel: true
  AfterNamespace: false
  AfterStruct   : true
  AfterClass    : true
  SplitEmptyNamespace: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  IndentBraces: false
#BreakAfterJavaFieldAnnotations: true

# EmptyLine
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
EmptyLineBeforeAccessModifier: LogicalBlock

# Space
SpaceBeforeCtorInitializerColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true

...
